#wrapper {
    background: #d5d2ae;
    font-size: 120%;
    font-weight: bolder;
    width: 970px;
    text-align: center;
}
h1 img {
    background: white;
    width: 100px;
    height: 50px;
}
.blue{
    background: #82b4ee;
    padding: 10px;
    border: 5px solid black;
    width: 100px;
    height: 100px;
    margin: 6px 3px;
}
.red {
    background: #f36870;
    padding: 10px;
    border: 5px solid black;
    width: 100px;
    height: 100px;
    margin: 6px 3px;
}