/*CSS reset settings here*/
*{
    margin: 0px;
    padding: 0px;
}

#parent{
    display: flex;
}
   #wrapper{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 25px;
   }
   #header{
    margin: 15px;
    height: 150px;
    background-color: green;
   }
   #navigation{
    margin:15px;
    height:300px;
    width: 200px;
    background-color: blue;
   }
   #main_content{
    margin: 15px;
    display: inline-block;
    height: 400px;
    width: 700px;
    padding: 20px;
    background-color: red;
   }
   .subcontents{
    display: inline-block;
    height: 200px;
    width: 200px;
    background-color: yellow;
    margin: 5px;
   }
   #advertisement{
    margin: 5px;
    height: 120px;
    width: 630px;
    background-color: purple;
   }
   